

/* Contenedor principal: ocupa toda la pantalla */
.contenedor-principal {
    display: flex;
    background-image: url('../images/fondo.png');
    
   
}

/* Contenido al lado del sidebar */
.contenido {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título principal */
.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #2F4F4F;
    margin-bottom: 20px;
}

/* Grid para los cuatro contenedores */
.grid-contenedores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 900px;
}

/* Estilos de cada card */
.card {
    background: #A5D6A7;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    height: 250px;
}

/* Estilos del título en las tarjetas */
.card h2 {
    font-size: 18px;
    color: #4E342E;
    margin-bottom: 10px;
}

/* Imágenes dentro de las tarjetas */
.card img {
    width: 60%; /* Ocupará todo el ancho del card */
    height: 70%; /* Ocupará todo el alto del card */
    object-fit: contain; /* La imagen se mostrará completa sin recortarse */
    display: block;
    margin: auto; /* Centrar en el contenedor */
    border-radius: 40px;
}


/* Botón de cada tarjeta */
.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #6D4C41;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

/* Efecto hover */
.card a:hover {
    background: #4E342E;
}
